div.subheader
  h3 Comments
  a(href=`/articles/${article.id}/comments/new`, class="btn-new") Leave a Comment &#43;
  
each comment in comments
  article
    include by_line
    p= comment.body
    a(href=`/articles/${article.id}/comments/${comment.id}/edit`) Edit Comment 
    | | 
    a(href=`/articles/${article.id}/comments/${comment.id}/delete`) Delete Comment 
